div {
    padding: 50px;
}

p {
    margin: 0;
    padding: 15px;
    font-size: 20px;
}

.red-textbox-left {
    margin: 200px;
    margin-left: 50px;
    float: left;
    background-color: red;
}

.blue-textbox-right {
    margin-right: 50px;
    float: right;
    background-color: blue;
}

.yellow-textbox-initial {
    margin-bottom: 50px;
    float: initial;
    background-color: yellow;
}

.green-textbox-clear {
    margin: 250px;
    background-color: green;
    clear: both;
}